/* This file is for your main application css. */
/* @import "./phoenix.css"; */
@import "../node_modules/nprogress/nprogress.css";
@import "./raster.css";


body{
    background-color: var(--background-color);

    color: var(--font-color);
    max-width: var(--page-width);
    margin: auto;
    padding: calc(var(--global-space) * 2);
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    //font-family: 'Roboto', sans-serif;
    //font-family: 'Roboto Mono', monospace;
}


.highlighted-color{
    color:rgba(255,255,255,0.87);
}


h1{
    color: var(--primary-color);
    font-size: calc(var(--global-font-size)*2);
    margin-bottom: 0px;
    font-weight: 400;
}

h2{
    font-weight: 400;
    color: var(--primary-color);
    font-size: calc(var(--global-font-size)*1.2);
}

h3{
    font-weight: 400;
}


.v1{
  border-right: 1px dashed rgba(255,255,255,0.87);
  margin-top:4px;
  width:0px;
  height: 40px;
  margin: auto;
}



h5{
    border-bottom: 1px dashed rgba(255,255,255,0.60);
}

h6{
    margin-top: var(--global-space);
    color: rgba(255,255,255,0.60);

}

p{
    margin-top: var(--global-space);
    color: rgba(255,255,255,0.60);
    font-size: var(--global-font-size);
  line-height: 1.5;

}
button{
    background-color: #bb86fc;
    color: black;
    border: 0px;
}


pre{
    white-space: pre-wrap; //css3
    white-space: moz-pre-wrap; //firefox
    white-space: -pre-wrap; //opera 4-6
    white-space: -o-pre-wrap; //opera 7
    word-wrap: break-word; //internet explorer
}

pre code {
  background-color: rgba(255,255,255,0.08);
  display: block;
  padding: 20px;
}

dl{
    background-color: var(--background-color);
}

dt{
    padding: var(--global-space);

}


dt:hover{
    background-color: rgba(255,255,255,0.2);
}


.card {
    padding: calc(var(--global-space));
    // background-color: #03dac514;
    //background-color:#f2b02c14;
  ///  background-color: white;
     //background-color: #03dac50d;
     //background-color: rgba(255,255,255,0.05);
     //background-color: #ff759714;
    // background-color: #ff75970d;

}
.card h5{
    color: rgba(255,255,255,0.60);
    padding: 0px;
    margin: 0px;
}


.container{
    max-width:var(--page-width);
}



/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

a{
     font-size: var(--global-font-size);
     color: rgba(255,255,255,0.87);
}



.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #2f1f14;
  margin: 20% auto;
  width: 30em !important;
  padding: 16px;
  max-width:90vw;
  max-height:80vh;
  min-height:40vh;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}


.topnav {
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.padding-0{
    padding: 0px;
}

.no-border{
    border: 0px solid black;
}
td {
    border:0px !important;

}
tr {
    border:0px !important;
}

th {

    border:0px !important;

}

.stick-to-top{
    position: fixed;
    top: 0px;
  word-break: break-all;
    width: 100vw;

}
menu-bar{
     display: flex;
     align-items: center;
    width: 100vw;
    height:50px;
    background-color: var(--background-color);
    margin:0px;
    
}
  


input[type=text] {
  background-color: var(--background-color) !important;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: 0px;
  box-sizing: border-box;
}

input:focus{
    border: 0px !important;
    outline-color: rgba(0,0,0,0);
    background-color: var(--background-color);
    outline: none;
}



.bullet-list{
    // border-bottom: 1px solid rgba(255,255,255,0.2);
    //padding-top: calc(var(--global-space)*0.5);
    color: rgba(255,255,255,0.60) !important;
    font-size: var(--global-font-size);
}


.multiple-cols li{
    display: flex;
    justify-content: space-between;
}
space-between{
    display: flex;
     display: flex;
     align-items: center;
}

.side-by-side {
  width: 100%;
  border: 0px solid black;
  padding-bottom: 2px;
  list-style-type: none;

}
.side-by-side li {
  display: inline;
  float: right;
}

.highlight {
    background-color: black;
}

.top-menu{
    padding:0px;
    overflow: auto;
    padding-top: 30px;
}

.top-menu li{
    padding-bottom:4px;
    list-style-type: none;

}

.main-content{
    padding:0px;
    padding-bottom: 100px;
}


hr.solid {
    border: 0px;
  border-top: 1px solid var(--primary-color);
    //color: #03dac5;

}


table {
  border-collapse: collapse;
  width: 100%;
  color: rgba(255,255,255,0.60);
}


th, td {
  padding: 8px;
  text-align: left;
}

th {
    border-bottom: 1px solid rgba(255,255,255,0.60) !important;

}

.about-me{
}



.centered {
  text-align: center;
  position: fixed;
  top: 45%;
  left: 0%;
  width: 100%
  /* bring your own prefixes */
  // transform: translate(%, -50%);
}

trait{
    margin:0px;
    padding:0px;
    font-size:5em;
    text-align:left;
    display:block;
    width: 100vw;
}


@media screen and (max-width: 1000px) {

    trait{
    font-size:3em;
    height:2em;
    max-width: 50vw;

    }
}


