<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace-of-mind from prototype to production</p>

  <form phx-change="suggest" phx-submit="search">
    <input type="text" name="q" value="<%= @query %>" placeholder="Live dependency search" list="results" autocomplete="off"/>
    <datalist id="results">
      <%= for {app, _vsn} <- @results do %>
        <option value="<%= app %>"><%= app %></option>
      <% end %>
    </datalist>
    <button type="submit" phx-disable-with="Searching...">Go to Hexdocs</button>
  </form>
</section>


  <hr />
      <div class="components components-grid">
        <aside id="menu">
  <h2>Components</h2>
  <nav>
    <ul>
      <li><a href="#GridSystem">Grid System</a></li>
      <li><a href="#Navigation">Navigation</a></li>
      <li><a href="#NavigationList">Navigation List</a></li>
      <li><a href="#Lists">Lists</a></li>
      <li><a href="#Typography">Typography</a></li>
      <li><a href="#Tables">Tables</a></li>
      <li>
        <a href="#SpecialElements">Special Elements</a>
        <ul>
          <li><a href="#Blockquote">Blockquote</a></li>
          <li><a href="#Misc">Misc</a></li>
        </ul>
      </li>
      <li><a href="#Forms">Forms</a></li>
      <li><a href="#Progress">Progress Bar</a></li>
      <li><a href="#Buttons">Buttons</a></li>
      <li><a href="#Cards">Cards</a></li>
      <li><a href="#Timeline">Timeline</a></li>
      <li><a href="#Alerts">Alerts</a></li>
      <li><a href="#Media">Media</a></li>
      <li><a href="#Figure">Image with caption</a></li>
      <li><a href="#highlightjs">Supports Highlight.js</a></li>
    </ul>
  </nav>

  <h2>Documentation</h2>
  <nav>
    <ul>
      <li><a href="#DocVariables">Variables</a></li>
      <li><a href="#DocTypography">Typography</a></li>
    </ul>
  </nav>
</aside>

        <main>
          <section>
<header>
	<h2 id="GridSystem">Grid System</h2>
	<p>
	Terminal CSS has no build-in grid system. However, you can roll your own with Flexbox or CSS Grid.
	</p>
</header>
<div class="image-grid">
  <a href="https://picsum.photos" style="border: none;"
    ><img
      src="https://picsum.photos/200/300?random&2"
      width="auto"
      height="auto"
      alt="random image"
  /></a>
  <a href="https://picsum.photos" style="border: none;"
    ><img
      src="https://picsum.photos/200/300?random&3"
      width="auto"
      height="auto"
      alt="random image"
  /></a>
  <a href="https://picsum.photos" style="border: none;"
    ><img
      src="https://picsum.photos/200/300?random&4"
      width="auto"
      height="auto"
      alt="random image"
  /></a>
  <a href="https://picsum.photos" style="border: none;"
    ><img
      src="https://picsum.photos/200/300?random&5"
      width="auto"
      height="auto"
      alt="random image"
  /></a>
  <a href="https://picsum.photos" style="border: none;"
    ><img
      src="https://picsum.photos/200/300?random&6"
      width="auto"
      height="auto"
      alt="random image"
  /></a>
  <a href="https://picsum.photos" style="border: none;"
    ><img
      src="https://picsum.photos/200/300?random&7"
      width="auto"
      height="auto"
      alt="random image"
  /></a>
</div>
</section>
<hr />
<section>
  <header><h2 id="Navigation">Navigation</h2></header>
  <div class="terminal-nav">
    <div class="terminal-logo">
      <div class="logo terminal-prompt"><a href="#" class="no-style">Logo</a></div>
    </div>
    <nav class="terminal-menu">
      <ul>
        <li><a class="menu-item" href="#">Item #1</a></li>
        <li><a class="menu-item active" href="#">Active Item #2</a></li>
        <li><a class="menu-item" href="#">Item #3</a></li>
      </ul>
    </nav>
  </div>

</section>
</main>
</div>

hei om jeg skriver veldig masse asaa gar det over


<div class="image-grid">
    <p> hei hei </p>
    <p> hei hei </p>
</div>



